/* :: - pseudo elements */
/* : - pseudo classes */
/* h1::first-line {
    color: red;
    font-size: 40px;
    background-color: blue;
}

h1::first-letter {
    color: pink;
    font-size: 50px;
} */

h1::selection,
h3::selection,
h4::selection,
article::selection,
p::selection
{
    color: white;
    background-color: black;
}

h1::selection {
    background-color: black;
    color: rgb(255, 255, 255);
}

ul li {
    margin-left: 20px;
}

ul li::marker {
    content: '|';
}

/* pseudo class */
/* 
    a:link,
    a:visited,
    a:hover,
    a:active,

*/

a:link {
    color: yellow;
}

a:visited {
    color: teal;
}

a:hover {
    color: red;
}

a:active {
    color: yellowgreen;
}

input:checked {
    display: inline-block;
    width: 50px;
    height: 50px;
}

input:disabled {
    background-color: gray;
}

.empty-paragraph:empty {
    width: 50%;
    height: 20px;
    background-color: red;
}

input:enabled {
    background-color: teal;
    color: white;
}

.wrapper h1 {
    color: pink;
}

div h1:first-child {
    color: red;
}

div h1:last-child {
    color: powderblue;
}

div p:first-of-type {
    color: blue;
}

.focus:hover {
    background-color: white;
}

.focus:focus {
    background-color: chartreuse;
}

div p:not(:last-child) {
    background-color: darkgreen;
}

div p:nth-child(10) {
    color: darkmagenta;
}

h1 span:only-child {
    background-color: teal;
}


input:required {
    background-color: pink;
}

:root {

}

/* 1 gold, 0 silver, 0 bronze */
#about {
    height: 900px;
    background-color: rgba(195, 194, 194, 0.664);
}

#contact {
    height: 1200px;
    background-color: rgba(110, 110, 110, 0.5);
}

#about:target {
    background-color: red;
}

#contact:target {
    background-color: teal;
}